<!DOCTYPE html>
<html>
<head>
  <title>PasswordRequired</title>
  <%= stylesheet_link_tag    "password_required/application", media: "all" %>
  <%= javascript_include_tag "password_required/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
